<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
        
            <!-- Use bootstrap to design product template below. 
            Product and product variation details can be accessed like so: -->
            <h1>Variation related details</h1>
            <p>{{ variation.id }}</p>
            <p>{{ variation.price }}</p>

            <h1>Product related details</h1>
            <p>{{ variation.product.listing_id }}</p>
            <p>{{ variation.product.product_type }}</p>

        </div>
    </body>
</html>